= render partial: "sidebar"

.chat-main.clearfix
   .chat-main__header
      %p.chat-main__header__groupname
         = @group.name
      = link_to edit_group_path(current_user) do
         %p.chat-main__header__edit edit
      %p.chat-main__header__members
         Member
         - current_user.groups.find(params[:group_id]).users.each do |m|
            = m.name

   .chat-main__body
      - @group.messages.each do |m|
         .chat-main__body__messageslist
            .chat-main__body__messageslist__name
               = m.user.name
            .chat-main__body__messageslist__time
               = m.created_at
            .chat-main__body__messageslist__text
               = m.text
               = image_tag m.image_url(:thumb) if m.image.present?
   .chat-main__footer
      .chat-main__footer__form.clearfix
         = form_for ([@group, @message]) do |f|
            = f.text_field :text, {placeholder: "type a message", size: "40", class: "input" }
            .upload
               = f.label :image do
                  %i.fa.fa-picture-o
                     = f.file_field :image, class: "btn"
            = f.submit :send, class: "send"
