
.sidebar
   %ul.sidebar__user
      %li.sidebar__user__name
         %p #{current_user.name}
      %li.sidebar__user__btn
         = link_to new_group_path do
            %i.fa.fa-pencil-square-o
         = link_to edit_user_path(current_user) do
            %i.fa.fa-cog

   .sidebar__groups
      - current_user.groups.each do |g|
         %li.sidebar__group
            = g.name
         %li.sidebar__massage まだメッセージはありません

.chat-main.clearfix
   .chat-main__header
      %p.chat-main__header__groupname  home
      = link_to edit_group_path(current_user) do
         %p.chat-main__header__edit edit
      %p.chat-main__header__members Member: kosugi

   .chat-main__body.clearfix
      .chat-main__body__messageslist
         .chat-main__body__messagename
            kosugi
         .chat-main__body__messagetime
            2017/09/17 12:21:11
         .chat-main__body__messagetext
            こんにちは
         .chat-main__body__messagename
            kosugi
         .chat-main__body__messagetime
            2017/09/17 12:21:11
         .chat-main__body__messagetext
            こんにちは
   .chat-main__footer
      .chat-main__footer__form.clearfix
         %input.input{type: "text",name: "title", size: "40", placeholder: "type a message"}
         .upload
            %label
               %i.fa.fa-picture-o
               %input.btn{type: "file"}
         %input.send{type: "submit", value: "Send",}
